<!DOCTYPE html>
<head>

	<% include ../common/css.ejs %>
	 <!--Let browser know website is optimized for mobile-->
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<% include ../common/navbar.ejs %>
	<div class="col s12 m12 l12">
		<div class="row center-align">
		<div class="input-field col s10">
			<label for="search">Search Patient Name</label>
			<input type="text" id="search" class="autocomplete">
		</div>
		<div class="input-field col s2" style='margin-left:-15%;'>
			<button class='btn btn-flat white' id='btnsearch'>
				<i class="material-icons black-text">search</i>
			</button>
		</div>
		</div>
	</div>
	<div class='container'>
		<!-- page loading
		<div class="col offset-s6">
			<br><br>
				<div class="lds-dual-ring"></div>
		</div> -->
		<div class='collection'>

		</div>


	</div>
		
<% include ../common/js.ejs %>

<script src="/js/patientlist.js"></script>
</body>
</html>	