<!DOCTYPE html>
<html>
    <head>
        <% include ../common/css.ejs %>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/index.css"/>
        <!-- end of your own css        -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
            <% include ../common/navbar.ejs %>
            <!-- start content goes here -->
            <div class="head teal lighten-1">

            </div>
            <div class="container">
                <!-- Page Content goes here -->
                
             </div>  
            <div class="btn-footer center-align" style='position:fixed; bottom:0%; max-width:100%; width:100%; padding:3%; '>
                <button class="btn btn-flat btn-large white-text waves-effect green accent-4"  style="width:100%;" id="btnAdd">Add Prescription</button>        
            </div>
            <% include ../common/js.ejs %>
            <!-- start your own js here -->
            <script src="/js/doctorpatient.js"></script>
            <script src="/js/helper.js"></script>
            
            <!-- end your own js here   -->
    </body>
</html>