<%- include('../layouts/dheader.ejs')%>
<!-- body -->
        <div class='container'>
            
            <div class="col-xs-offset-1 col-xs-10">
                <input type="select" name="patient" id="autocomplete"/>
				
            </div>
        </div>
		<script src="/js/jquery-1.9.1.min.js"></script>
        <script >
			$(document).ready(function(){
				$('#autocomplete').autocomplete({
					serviceURL: '/doctor/search_patient',
					dataType: 'json',
					onSelect: function (patients) {
						alert('You selected: ' + patients.value
						);
					}
				});
			});
        </script>
        <script src="/js/jquery.autocomplete.min.js"></script>

    </body>
</html>