<!DOCTYPE HTML>
    <head>
        <!-- title here is in EJS syntax from server -->
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <!-- <link rel="stylesheet" href="/css/AdminLTE.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <!-- body here is in EJS syntax passed from server -->
        <nav role="navigation" class="navbar nav-themecolor">
            <div class="nav navbar-nav" id="menuToggle">
               <!-- click receiver -->
                <input type="checkbox" />
                <!-- hamburger -->
                <span></span>
                <span></span>
                <span></span>
                <!--Too bad the menu has to be inside of the button
                but hey, it's pure CSS magic.-->

                <ul id="menu">
                  <div class="col-xs-offset-1 col-xs-10">
                    <h3 class="text-center" style="margin-top:-40px;">John Doe<!--Username--></h3><br><br>
                    <div class="col-xs-offset-4">
                        <img src="/img/user-male.png" class="img-circle"/>
                    </div>
                    <br><br/><br/>
                    <a href="#" class="whitetext"><li><i class="fas fa-home"></i> Home</li></a><hr/>
                    <a href="#" style="color:#ffffff; font-size:20px;"><li><i class='fas fa-user-circle'></i> Patient's list</li></a><hr/>
                    <a href="#" style="color:#ffffff;font-size:20px;"><li><i class="fas fa-file-alt"></i> Prescription list</li></a><hr/>
                    <a href="#" style="color:#ffffff;font-size:20px;"><li><i class="fas fa-location-arrow"></i> Add Prescription</li></a><hr/>
                    <a href="#" style="color:#ffffff;font-size:20px;"><li><i class="fas fa-user-md"></i> Profile</li></a> <hr/>
                  </div>
                </ul>
            </div>
            
                <h3 class="text-center"><%= name %></h3>
            
        </nav>
        <div class='container'>
                <!-- page loading -->
                <div class="col-xs-offset-6">
                    <br><br>
                    <div class="lds-dual-ring"></div>
                </div>