
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/jquery.autocomplete.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script >
    var data = <%- JSON.stringify(patient) %>;
    $(document).ready(function(){
        $('#autocomplete').devbridgeAutocomplete({
            lookup: data,
            onSelect: function (patients) {
                alert('You selected: ' + patients.value
                );
            },
            forceFixPosition:true,
            appendTo: '#result',
            showNoSuggestionnotice: true,
            noSuggestionNotice:'No records found.',
            deferRequestBy: 0,
//          onSelect: function(suggestion) {
//              $("#selection-ajax").html(suggestion.value + ", " + suggestion.data);
//              $("#events-container").prepend(
//              "<p>onSelect event in: #" + this.id + "</p>"
//              );
//          },
        });
    });

    $(window).load(function() {
		// Animate loader off screen
		$(".lds-dual-ring").fadeOut("slow");;
    });
    
    // $(document).load(function() {
	// 	// Animate loader off screen
	// 	$(".lds-dual-ring").fadeOut("slow");;
	// });

</script>
</body>
</html>