<!DOCTYPE html>
<html>
    <head>
        <% include common/css.ejs %>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/index.css"/>
        <!-- end of your own css -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/login.css"/>
        <!-- end of your own css        -->
        
    </head>
    <body>
            <div>
                <p class="left-align white-text mini-margin">&nbsp;</p>
                <hr/>
            </div>
            <div class="progress hide" id="preloader" style="margin-top:-8px;">
                <div class="indeterminate"></div>
            </div>
            <div class="flex-center" style="margin-bottom:50px;margin-top:50px;">
                <img class="circle" src="images/logo.png" width="150px">
            </div>
            <div class="row flex-center">
                <div class="col s8 no-padding" style="margin:auto;">
                    <a href="/doctors/login" class="btn-large waves-effect waves-light white grey-text" id="btn-login" style="width:100%; margin-bottom:3%">Doctor login</a>
                    <a href="/patients/login" class="btn-large waves-effect waves-light green" id="btn-login" style="width:100%; margin-bottom:3%">Patient login</a>
                </div>
            </div>
            <!-- end content goes here   -->
            <% include common/js.ejs %>
            <!-- start your own js here -->
            <script src="/js/index.js"></script>
            <!-- end your own js here   -->
    </body>
</html>