<!DOCTYPE html>
<html>

<head>

	<link type="text/css" rel="stylesheet" href="/css/login.css" />
	<%- include('common/css.ejs')%>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div>
		<p class="left-align white-text mini-margin">
			<%= title %>
		</p>
		<hr/>
	</div>
	<div class="flex-center" style="margin:10%;">
		<img class="circle" src="images/logo.png" style="width:40%;">
	</div>
	<div class="row flex-center" style="padding-top:10%;">
		<form class="col s10 no-padding" style="margin:auto;background-color:#fff">
			<div class="row no-margin">
				<div class="input-field col s12">
					<input id="unsername" class="green-text no-margin" type="text" class="validate">
					<label for="username"><i class=" tiny material-icons grey-text">person</i> &nbsp; Username</label>
				</div>
			</div>
			<div class="row no-margin">
				<div class="input-field col s12">
					<input id="password" class="green-text no-margin" type="password" class="validate">
					<label for="password"><i class="tiny material-icons grey-text">lock</i> &nbsp; Password</label>
				</div>
			</div>
			<button class="btn-large waves-effect waves-light green" style="width:100%">Sign in</button>
		</form>
	</div>
	<div class="row footer-text">
		<div class="col s6 center-align">
			<a class="white-text" href="#">Create Account</a>
		</div>
		<div class="col s6 center-align">
			<a class="white-text" href="#">Forgot Password</a>
		</div>
	</div>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>

</html>