<%= title %>

<% patients.forEach(patient=>{ %>
    <%= JSON.stringify(patient) %>
<% }) %>

<button id="btn">Get Data from Server using Ajax</button>
<select id="patient"></select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#btn').on('click',function(){
            $.get('/api/getAllPatients', function(data){
                $('#patient').html('');
                for(let i=0;i<data.length;i++){
                    $('#patient').append(`<option>${data[i].id} | ${data[i].name}</option>`);
                }
            });
        });
    });
</script>