
<!DOCTYPE html>
<html>
    <head>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <% include ../common/css.ejs %>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/login.css"/>
        <!-- end of your own css        -->

    </head>
    <body>
        <div>
            <p class="left-align white-text mini-margin">
                <a href="/" class="btn-icon"><i class="fa fa-arrow-left"></i>&nbsp;</a><%= title %>
            </p>
            <hr/>
        </div>
        <div class="progress hide" id="preloader" style="margin-top:-8px;">
            <div class="indeterminate"></div>
        </div>
        <div class="flex-center" style="margin-bottom:50px;margin-top:50px;">
            <img class="circle" src="/images/logo.png" width="150px">
        </div>
        <div class="row flex-center">
            <div class="col s10 no-padding" style="margin:auto;background-color:#fff">
                <div class="row no-margin">
                    <div class="input-field col s12">
                        <input id="txt-user" class="green-text no-margin" type="email" class="validate">
                        <label for="username"><i class=" tiny material-icons grey-text">email</i> &nbsp; Email</label>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="input-field col s12">
                        <input id="txt-pass" class="green-text no-margin" type="password" class="validate">
                        <label for="password"><i class="tiny material-icons grey-text">lock</i> &nbsp; Password</label>
                    </div>
                </div>
                <button class="btn-large waves-effect waves-light green" id="btn-login" style="width:100%">Sign in</button>
            </div>
        </div>
        <div class="row footer-text">
            <div class="col s6 center-align">
                <a class="white-text" href="#">Create Account</a>
            </div>
            <div class="col s6 center-align">
                <a class="white-text" href="#">Forgot Password</a>
            </div>
        </div>


            <% include ../common/js.ejs %>
    <script>
        let config = <%- JSON.stringify(config) %>;
    </script>
    <script src="/js/login.js"></script>
    </body>
</html>