<%- include('../layouts/header.ejs')%>
<!-- body -->
        <div class='container'>
            <!-- put code here for prescription list -->
            <a href="#">
            <div class="col-lg-3 well">
                <h2><strong>Dr. Ramos</strong></h2>
                <h3>Doctor's Hospital</h3>
                <p>Prescription Ipsum dolor</p>
            </div>
            </a>
            <div class="col-lg-3 well">
                <h2><strong>Dr. Ramos</strong></h2>
                <h3>Doctor's Hospital</h3>
                <p>Prescription Ipsum dolor</p>
            </div>
            <div class="col-lg-3 well">
                <h2><strong>Dr. Ramos</strong></h2>
                <h3>Doctor's Hospital</h3>
                <p>Prescription Ipsum dolor</p>
            </div>
            <div class="col-lg-3 well">
                <h2><strong>Dr. Ramos</strong></h2>
                <h3>Doctor's Hospital</h3>
                <p>Prescription Ipsum dolor</p>
            </div>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>