<!DOCTYPE html>
<html>
    <head>
        <%- include('../common/css.ejs')%>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/patientprescription.css"/>
        <!-- end of your own css -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <%- include('../common/navbar.ejs')%>
        
            <div class="row container" id="footer">
                <div class="col s6 center-align">
                    <a id="reject" class="waves-effect waves-light btn-large red" href="#">Reject</a>
                </div>
                <div class="col s6 center-align">
                    <a id="accept" class="waves-effect waves-light btn-large green" href="#">Accept</a>
                </div>
            </div>

             <!-- end content goes here   -->
             <%- include('../common/js.ejs')%>
             <!-- start your own js here -->

            <script src="/js/rxrequest.js"></script>
            <!-- end your own js here   -->
    </body>
</html>