<title><%= title %></title>
<!--Font Awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/material/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/index.css"  media="screen,projection"/>
