<nav>
    <div class="nav-wrapper teal lighten-1" style="display:flex;justify-content:space-between">
        <span href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></span>
        <h5 class="no-margin flex-center">Reseta</h5>
        <h5 class="flex-center" style="margin:0 18px"><img class="circle" src="images/cat.jpg" style="height: 36px; width: 36px; margin: 15px"></h5>
    </div>
    <ul id="slide-out" class="side-nav teal lighten-1">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/bg.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/cat.jpg"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li>
            <a href="/" class="white-text"><i class="material-icons white-text">home</i>Dashboard</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="/notif" class="white-text"><i class="material-icons white-text">notifications</i>Notification<span class="badge"><%= obj.notif%></span></a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="/rx" class="white-text"><i class="material-icons white-text">chrome_reader_mode</i>Rx<span class="badge"><%= obj.rx%></span></a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="white-text"><i class="material-icons white-text">child_care</i>Doctor's List</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="/location" class="white-text"><i class="material-icons white-text">location_on</i>Nearest Pharmarcy</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="white-text"><i class="material-icons white-text">list</i>Pharmacy List</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="white-text"><i class="material-icons white-text">person</i>Profile</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
    </ul>
</nav>